{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<div class="flex flex-col space-y-4 my-2">
  <a title="{{brand.name}}" 
     class="flex items-center justify-center px-4 py-2 space-x-2 transition-colors duration-300 border border-gray-800 rounded-md group hover:bg-gray-600 focus:outline-none hover:text-white" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >
     {{brand.name}}</a>
</div>
{% endfor %}
{% endif %}
<div class="flex flex-col space-y-4 my-2">
  <a title="{{provider.name}}" class="flex items-center justify-center px-4 py-2 space-x-2 transition-colors duration-300 border border-gray-800 rounded-md group hover:bg-gray-600 focus:outline-none hover:text-white" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
</div>
{% endfor %}
