{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container mx-auto my-5 w-4/5 xl:w-4/6">
    <div class="relative rounded-lg flex my-4 flex-col lg:flex-row items-center lg:shadow-xl lg:min-h-full xl:h-96 2xl:h-96 mx-2">
        
          <div class="z-0 order-1 lg:order-2 relative w-full lg:w-2/5 h-80 lg:h-full overflow-hidden rounded-lg lg:rounded-none lg:rounded-r-lg">
              <div class="absolute inset-0 w-full h-full object-fill object-center bg-blue-400 bg-opacity-30 bg-cover bg-bottom" style="background-image: url( https://images.unsplash.com/photo-1525302220185-c387a117886e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80 ); background-blend-mode: multiply;"></div>
              <div class="lg:hidden absolute inset-0 h-full p-6 pb-6 flex flex-col-reverse justify-start items-start bg-gradient-to-b from-transparent via-transparent to-gray-900">
                  <h3 class="w-full font-bold text-2xl text-white leading-tight mb-2">HOTEL AMANEE</h3>
                  <h4 class="w-full text-xl text-gray-100 leading-tight">Bienvenido a</h4>   
              </div>
              <svg class="hidden lg:block absolute inset-y-0 h-full w-24 fill-current text-white -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                  <polygon points="50,0 100,0 50,100 0,100" />
              </svg>
          </div>
  
          <div class="z-10 order-2 lg:order-1 w-full h-full lg:w-3/5 flex items-center -mt-6 lg:mt-0">
              <div class="p-8 lg:pr-18 lg:pl-14 lg:py-12 mx-2 lg:mx-0 h-full bg-white rounded-lg lg:rounded-none lg:rounded-l-lg shadow-xl lg:shadow-none">
                  <h4 class="hidden lg:block text-xl text-gray-400">Bienvenido a</h4>
                  <h3 class="hidden lg:block font-bold text-2xl text-gray-700">HOTEL AMANEE</h3>
                  <p class="text-gray-600 text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione itaque perspiciatis quod sapiente quidem, vero consectetur quae iure error tempore reprehenderit unde veritatis fugit iusto nemo amet. Assumenda, quam facilis.</p>
                  <a class="flex items-baseline mt-3 text-blue-600 hover:text-blue-900 focus:text-blue-900" href="">
                      <span>Conocer más de Amanee</span>
                      <span class="text-xs ml-1">&#x279c;</span>    
                  </a>

                  
                  <div class='my-3 flex flex-wrap -m-1'>
                    <span class="m-1 bg-gray-200 hover:bg-gray-300 rounded-full px-2 font-bold text-sm leading-loose cursor-pointer" >#winter</span>
                    <span class="m-1 bg-gray-200 hover:bg-gray-300 rounded-full px-2 font-bold text-sm leading-loose cursor-pointer">#stark</span>
                    <span class="m-1 bg-gray-200 hover:bg-gray-300 rounded-full px-2 font-bold text-sm leading-loose cursor-pointer">#gameofthrones</span>
                    <span class="m-1 bg-gray-200 hover:bg-gray-300 rounded-full px-2 font-bold text-sm leading-loose cursor-pointer">#battle</span>
                    <span class="m-1 bg-gray-200 hover:bg-gray-300 rounded-full px-2 font-bold text-sm leading-loose cursor-pointer">#jhonsnow</span>
                    <span class="m-1 bg-gray-200 hover:bg-gray-300 rounded-full px-2 font-bold text-sm leading-loose cursor-pointer">#kinglandings</span>
                </div>
                <p class="text-sm text-gray-700 uppercase tracking-wide font-semibold mt-2">
                    John &bull; 11.01.11
                  </p>
              </div>
          </div>
  
    </div>
</main>
{% endblock %}