{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <title>{% block title %}pythonDjango{% endblock %}</title>
</head>

<body>

    <div class="flex flex-col min-h-screen font-roboto">

        <!-- Header -->
        {% cache 20 header %}
            {% include 'inc/_header.html' %}
        {% endcache %} 

        <!-- Main -->
            {% block content %}{% endblock %}

        <!-- Footer -->
            {% include 'inc/_footer.html' %}
        
    </div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>