{% load menu %}
<header class="bg-white border-b lg:fixed lg:w-full lg:top-0 lg:left-0 lg:z-40">
	<div
		class="container px-4 py-5 mx-auto space-y-4 lg:space-y-0 lg:flex lg:items-center lg:justify-between lg:space-x-10">
		<!-- Mobile -->
		<div class="flex justify-between">
			<a href="{% url 'home' %}" class="text-gray-800">
				<div class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path fill="#0277BD" d="M24.047 5c-1.555.005-2.633.142-3.936.367-3.848.67-4.549 2.077-4.549 4.67V14h9v2H10.87c-2.636 0-4.943 1.242-5.674 4.219-.826 3.417-.863 5.557 0 9.125C5.851 32.005 7.294 34 9.931 34h3.632v-5.104c0-2.966 2.686-5.896 5.764-5.896h7.236c2.523 0 5-1.862 5-4.377v-8.586c0-2.439-1.759-4.263-4.218-4.672.061-.006-1.756-.371-3.298-.365zm-4.984 4c.821 0 1.5.677 1.5 1.502a1.5 1.5 0 01-1.5 1.498 1.49 1.49 0 01-1.5-1.498A1.5 1.5 0 0119.063 9z"/><path fill="#FFC107" d="M23.078 43c1.555-.005 2.633-.142 3.936-.367 3.848-.67 4.549-2.077 4.549-4.67V34h-9v-2h13.693c2.636 0 4.943-1.242 5.674-4.219.826-3.417.863-5.557 0-9.125C41.274 15.995 39.831 14 37.194 14h-3.632v5.104c0 2.966-2.686 5.896-5.764 5.896h-7.236c-2.523 0-5 1.862-5 4.377v8.586c0 2.439 1.759 4.263 4.218 4.672-.061.006 1.756.371 3.298.365zm4.985-4c-.821 0-1.5-.677-1.5-1.502a1.5 1.5 0 011.5-1.498c.837 0 1.5.664 1.5 1.498 0 .822-.664 1.502-1.5 1.502z"/></svg>
					<p class="text-xl">PYTHON<strong>django</strong></p>
				</div>
			</a>
			<div class="flex items-center space-x-2 lg:hidden">
				<button id="burger"
					class="p-1 rounded-md hover:bg-gray-100 focus:bg-gray-100 focus:outline-none">
					<svg viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 text-gray-700">
						<path fill-rule="evenodd"
							d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
							clip-rule="evenodd">
						</path>
					</svg>
				</button>
			</div>
		</div>

		<!-- Mobile burger-->
		<div id="menu" class="flex flex-col space-y-4 lg:hidden" style="display: none;">
			<div
				class="flex flex-col space-y-3 lg:space-y-0 lg:flex-row lg:space-x-6 xl:space-x-8 lg:items-center">
				<a href="{% url 'home' %}" class="text-gray-500 hover:text-gray-800">Home</a>
				<div class="relative inline-block lg:block">
					<div>
						<button id="componentsMobile"
							class="text-gray-500 hover:text-gray-800 flex items-center space-x-1 focus:outline-none">
							<span>How-to Tutorials</span>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
								class="w-5 h-5">
								<path fill-rule="evenodd"
									d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
									clip-rule="evenodd">
								</path>
							</svg>
							</button>
					</div>
					<!---->
					<div id="componentsOnMobile" class="absolute left-0 z-20 py-1 mt-2 bg-white border border-gray-100 rounded-md shadow-xl lg:left-auto lg:right-0"
						style="display: none;">
						<div class="w-36">
								{% menu_tutorials 'block px-4 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 transform hover:text-primary' %}
						</div>
					</div>
				</div>
			</div>

			<div class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:items-center lg:space-x-4">
				{% if user.is_authenticated %}
				<a href="{% url 'account_logout' %}" class="flex items-center justify-center h-12 px-4 mt-2 text-sm text-center text-gray-600 transition-colors duration-200 transform border rounded-lg lg:h-10 hover:bg-gray-100 focus:outline-none">Logout</a>
				{% else %}
				<a href="{% url 'account_login' %}" class="flex items-center justify-center h-12 px-4 mt-2 text-sm text-center text-gray-600 transition-colors duration-200 transform border rounded-lg lg:h-10 hover:bg-gray-100 focus:outline-none">Sign In</a>
				{% endif %}
			</div>
		</div>

		<div class="hidden lg:flex lg:flex-row lg:items-center lg:justify-between lg:flex-1 lg:space-x-2">
			<div
				class="flex flex-col space-y-3 lg:space-y-0 lg:flex-row lg:space-x-6 xl:space-x-8 lg:items-center">
				<a href="{% url 'home' %}" class="text-gray-500 hover:text-gray-800">Home</a>
				<a href="#" class="text-gray-500 hover:text-gray-800 lg:hidden">Components</a>

				<div class="relative inline-block hidden lg:block">
					<div>
						<button id="components"
							class="text-gray-500 hover:text-gray-800 flex items-center space-x-1 focus:outline-none">
							<span>How-to Tutorials</span>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
								class="w-5 h-5">
								<path fill-rule="evenodd"
									d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
									clip-rule="evenodd">
								</path>
							</svg>
						</button>
					</div>
					<!---->
					<div id="componentsOn"
						class="absolute left-0 z-20 py-1 mt-2 bg-white border border-gray-100 rounded-md shadow-xl lg:left-auto lg:right-0"
						style="display: none;">
						<div class="w-36">
								{% menu_tutorials "block px-4 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 transform hover:text-primary" %}
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:items-center lg:space-x-4">
				{% if user.is_authenticated %}
				<a href="{% url 'account_logout' %}" class="flex items-center justify-center h-12 px-4  text-sm text-center text-gray-600 transition-colors duration-200 transform border rounded-lg lg:h-10 hover:bg-gray-100 focus:outline-none">Logout</a>
				{% else %}
				<a href="{% url 'account_login' %}"
					class="flex items-center justify-center h-12 px-4 text-sm text-center text-gray-600 transition-colors duration-200 transform border rounded-lg lg:h-10 hover:bg-gray-100 focus:outline-none">Sign In</a>
				{% endif %}
			</div>
		</div>
	</div>
</header>